<h1> New Book </h1><hr>
<%= form_for @book do |f| %>


<div class="form-group">
      <%= f.label :photo, class: 'col-sm-2 control-label'  %>
      <div class="col-sm-6">
          <%= f.file_field :photo %>
      </div>
  </div>

<%= f.label :name%>

  <%= f.text_field :name, placeholder: 'name' %><br>

  <%= f.label :topic%> :
  <%= f.text_field :topic, placeholder: 'topic'%><br>

  <%= f.label :year%> :
  <%= f.date_select :year, placeholder: 'year'%><br>

  <%= f.label :category%> :
  <%= f.select :category_id, @categories %><br>

  <%= f.label :Authors %><br>
	<%= f.collection_check_boxes(:author_ids, @authors, :id, :name) %><br>

<%= f.submit %>

<% end %>
