<h1> kayıt </h1>
<%= form_for @book do |f| %>

<%= f.label :name%>
  <%= f.text_field :name, placeholder: 'name' %><br />

  <%= f.label :topic%>
  <%= f.text_field :topic, placeholder: 'topic'%><br />

  <%= f.label :year%>
  <%= f.date_select :year, placeholder: 'year'%><br />

<%= f.submit %>

<% end %>
