<h3> Details about <%= @book.name %> </h3>

  <li class="round-image-50"><%= image_tag(@book.photo.url(:thumb)) %></li>

<strong>Book Name : </strong> <%= @book.name %> <br>
<strong>Book Topic : </strong> <%= @book.topic %> <br>
<strong>Book Year : </strong> <%= @book.year %> <br>
<b>Average Rating: </b><%= @book.average_rating %><br />

<%= render 'votes/form' %>



<b> Author(s) Name : </b>
<% @book.authors.each do |author| %>
  <%= link_to author.name, author_path(author) %><b> - </b>
<% end %>
<br>

<%= link_to 'edit', edit_book_path(@book) %>
<%= link_to 'delete', book_path(@book), method: :delete, data: { confirm:  'Do you want to delete...' } %>
