<!DOCTYPE html>
<html>
  <head>
    <title>BookInfo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
.list_add {

	margin-left: 30px;
}
    </style>

  </head>

  <body>
    <div class="center">
      <% if !flash.empty? %>
        <div id="flash">
          <% flash.keys.each do |k| %>
            <div class="<%= k %>">
              <%= flash[k] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <br><br>

<div class="butons">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Anasayfa</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="active"><a href="<%=books_path %>">Books <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="<%=categories_path %>">Categories <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="<%=authors_path %>">Authors <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="<%=publishers_path %>">Publishers <span class="sr-only">(current)</span></a></li>
       
</ul>

    <% if current_admin.present? %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%=new_book_path %>">New Book</a></li>
        <li><a href="<%=new_author_path %>">New Author</a></li>
    </ul>
      <% end %>
      
      <% unless current_user.present? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">


<div class="center">
    <% if current_user.present? %>
      <%= current_user.email %>
       <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>

    <% end %>

    <% if current_admin.present? %>

      <%= current_admin.email %><br>
      <%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %>
      <br>

      <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
    <% else %>

            <li><a href="<%=new_admin_session_path %>">Login</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%=new_admin_registration_path %>">Sign Up</a></li>
          </ul>
        </li>
        <% end %>
      </ul>
      <% end %>
     
       <% unless current_admin.present? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User<span class="caret"></span></a>
          <ul class="dropdown-menu">

<% if current_user.present? %>
      <%= current_user.email %><br>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
      <br>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
            <li><a href="<%=new_user_session_path %>">Login</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%=new_user_registration_path %>">Sign Up</a></li>   
          </ul>
          </li>
           <% end %>
      </ul>
      <% end %>

      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</div>


    <%= yield %>




  </body>
</html>
