<!DOCTYPE html>
<html>
  <head>
    <title>BookInfo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="center">
      <% if !flash.empty? %>
        <div id="flash">
          <% flash.keys.each do |k| %>
            <div class="<%= k %>">
              <%= flash[k] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>


<hr>

<div class="center">
    <% if current_user.present? %>
      <%= current_user.email %>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Login as a user', new_user_session_path %>
      <%= link_to 'Sign Up as a user', new_user_registration_path %>
    <% end %>
    <% if current_admin.present? %>
      <%= current_admin.email %>
      <%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %> |
      <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Login as admin', new_admin_session_path %>
      <%= link_to 'Sign Up as an admin', new_admin_registration_path %>
    <% end %>
  </div>

<hr>


    <%= yield %>
    <br><%= link_to 'List Books', books_path %>
    <%= link_to 'List Categories', categories_path %>
    <%= link_to 'List Authors', authors_path %><br>
    <% if current_admin.present? %>
      <%= link_to 'Add new Book', new_book_path %>
      <%= link_to 'Add new Author', new_author_path %>
    <% end %>

  </body>
</html>
